[http.routers]
       [http.routers.{{ app_name }}]
          rule = "Host(`{{ app_name }}.krystof.eu`)"
          service = "{{ app_name }}"
          entryPoints = ["web-secure"]
          
        [http.routers.{{ app_name }}.tls]
          certResolver = "letsencrypt"
      
    [http.services]
          [http.services.{{ app_name }}.loadbalancer]
            [[http.services.{{ app_name }}.loadbalancer.servers]]
              url = "http://127.0.0.1:{{ port }}"

