html,body{
	padding-left: 19px;
	padding-right: 19px;}

body{
	padding-top: 0px; /*padding for navbar*/
}

.clear {
	clear: both;
	background: none;
}

.navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #168ccc;
	color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color:#49bfff;
}

.navbar-custom a{
	color:#fefefe;
}

.navbar-custom .form-control:focus {
	border-color: #49bfff;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

#main, #main>.row {
	height:100%;
}

#main>.row {
	overflow-y:scroll;
}

#left {
	height:100%;
}

#map-canvas {
	width:33.3333%;
	height:calc(100% - 0);
	position:absolute;
	right:16px;
	top:50px;
	bottom:0;
	overflow:hidden;
}
.regenradar {
    font-weight:bold; font-size:120%;top: 20px; left: 10px; display: block; position:relative;display: block;text-shadow: 1px 1px #000000;color:#ffffff;
}
.forecast-container {
    background: #fff;
    display: table;
    table-layout: fixed;
    overflow: hidden;
    border-radius: 10px;
    
}
.forecast-container .forecast {
    display: table-cell;
    vertical-align: top;
    max-width: 150px;


}
.forecast-container .forecast:nth-child(even) {
    background-color: #F2F9FF; }
@media screen and (max-width: 990px) {
    .forecast-container .forecast {
        display: block;

        float: left; } }
.forecast-container .forecast.today {
    width: 420px; }
.forecast-container .forecast.today .forecast-header {
    *zoom: 1; }
.forecast-container .forecast.today .forecast-header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
.forecast-container .forecast.today .forecast-header .day {
    float: left; }
.forecast-container .forecast.today .forecast-header .date {
    float: right; }
.forecast-container .forecast.today .forecast-content {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px; }
.forecast-container .forecast.today .location {
    font-size: 18px;
    font-size: 1.2857142857em;
    font-weight: 400; }
.forecast-container .forecast.today .degree .num, .forecast-container .forecast.today .degree .forecast-icon {
    display: inline-block;
    vertical-align: middle; }
.forecast-container .forecast.today .degree .num {
    font-size: 90px;
    font-size: 6.4285714286rem;
    margin-right: 30px; }
.forecast-container .forecast.today span {
    margin-right: 20px; }
.forecast-container .forecast.today span img {
    margin-right: 5px;
    vertical-align: middle; }
@media screen and (max-width: 990px) {
    .forecast-container .forecast.today {
        display: block;
        width: 100%; } }
.forecast-container .forecast .forecast-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-weight: 400; }
.forecast-container .forecast .forecast-icon {
    height: 50px; }
.forecast-container .forecast .forecast-content {
    padding: 30px 20px 10px;
    text-align: center; }
.forecast-container .forecast .forecast-content .forecast-icon {
    margin-bottom: 20px; }
.forecast-container .forecast .forecast-content .degree {
    font-size: 24px;
    font-size: 1.7142857143em;
    font-weight: 700; }
.forecast-container .forecast .forecast-content small {
    font-size: 16px;
    font-size: 1.1428571429em;
}

#regenradar {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
}

.ober_farbe1 {
    background-color: #3d830a;
     color: white;
}
.unter_farbe1 {
    background-color: #45930c;
     color: white;
}
.ober_farbe3 {
    background-color: #e8a400;
     color: white;
}
.unter_farbe3 {
    background-color: #ffb400;
     color: white;
}
.ober_farbe2 {
    background-color: #f4dd1b;
    color: #645e06;
}

.unter_farbe2 {
    background-color: #ffe818;
    color: #645e06;
}
.ober_farbe4 {
    background-color: #c80000;
     color: white;
}
.unter_farbe4 {
    background-color: #e00000;
     color: white;
}
.ober_farbe5 {
    background-color: #ff00ff;
     color: white;
}
.unter_farbe5 {
    background-color: #ff00ff;
     color: white;
}
